<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handarui.game.dao.mapper.RecordUnitDoMapper" >
  <resultMap id="BaseResultMap" type="com.handarui.game.dao.domain.RecordUnitDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="game_id" property="gameId" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
    <select id="selectGameRecordUnit" resultMap="BaseResultMap">
      SELECT id,game_id,unit,status,created_at,updated_at,is_deleted
      FROM record_unit
      WHERE game_id = #{id} and is_deleted = 0
    </select>
</mapper>